@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', 'Times New Roman', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 3rem;
}

.nav-bar {
    width: 85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 30px;
    color: white;
}

.nav-bar .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.nav-bar .nav-links ul a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.presentation {
    width: 100%;
    background-color: #1f2937;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85rem;
    padding: 2rem;
    height: auto;
    color: white;
    margin-bottom: 2rem;
}

.content .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 35rem;
    height: 15rem;

}

.content .left-side {
    max-width: 50%;
}

.content .left-side .title,
.content .left-side .description,
.content .left-side {
    margin-bottom: 10px;
}

.content .left-side .title {
    font-size: 48px;
}

.content .left-side .description {
    font-size: 1.2rem;
}

.content .left-side button {
    background-color: #3882F6;
    color: white;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    overflow: hidden;
}

.about-title {
    font-size: 36px;
    padding: 3rem 0;
}

.about-presentation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75rem;
    column-gap: 4rem;
}

.about-presentation .about-imageholder {
    width: 12rem;
    height: 12rem;
    border: 5px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 5px;
}

.about-presentation .about-image-description {
    width: 12rem;
    text-align: center;
    font-size: 1.3rem;
    color: #686868;
}

.reviews {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.reviews .reviews-quote {
    padding-top: 5rem;
    font-size: 36px;
    font-weight: 300;
    width: 75rem;
}

.reviews .reviews-author {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    padding-bottom: 5rem;
}

.sign-up-ad {
    background-color: #3882F6;
    width: 80rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    width: 80%;
}

.left-container h3 {
    font-size: 26px;
}

.right-container a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 26px;
    border: 2.5px solid white;
}

.right-container a:hover {
    background-color: white;
    color: #3882F6;
}

.copyright {
    background-color: #1f2937;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.copyright .copyright-section {
    font-size: 1.5rem;
}